div{

    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: blueviolet;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.welcome{
    font-size: 24px;
    color: rgb(65, 65, 65);
    background-color: rgb(21, 223, 155);
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    margin: 15px ;}